<?xml version="1.0" encoding="UTF-8"?>
<!--
  Shared logback base config for all Fuelyn microservices.

  Logs go to STDOUT in JSON format (logstash-logback-encoder), augmented with:
    * service name and environment
    * MDC fields (requestId, serviceId, userId)
    * OpenTelemetry trace/span IDs (via Micrometer tracing bridge)

  Pretty-printed console output is kept for the `local` profile only.
-->
<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="unknown"/>
    <springProfile name="local | dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%-5level] [%X{traceId:-}/%X{spanId:-}] [%X{requestId:-}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="!local &amp; !dev">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <version/>
                    <logLevel/>
                    <loggerName/>
                    <threadName/>
                    <message/>
                    <mdc/>
                    <pattern>
                        <pattern>{
                          "service": "${appName}",
                          "env": "${SPRING_PROFILES_ACTIVE:-unknown}"
                        }</pattern>
                    </pattern>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.fuelyn" level="DEBUG"/>
</configuration>
